.list-view-wrapper {
  // background-color: #868688;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid cyan;

  .text-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .chat-ul-wrapper {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    .list-item-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .view-btn {
        cursor: pointer;
      }

      .text-list-wrapper {
        display: flex;
        align-items: center;
        padding-left: 10px;

        .check-box-wrapper {
          margin-right: 10px;
          display: flex;

          .favorite-icon {
            font-size: 20px;
            cursor: pointer;
            display: block;
            margin-left: 8px;
          }
        }

        h4 {
          font-size: 12px;
          font-weight: 600;
        }

        h5 {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 0px;
        }
      }
    }

    li {
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid green;
    }
  }
}
