<div class="container">
  <app-theme-toggle></app-theme-toggle>

  <div class="top-header-section-wrapper">
    <div>
      <button class="btn btn-danger" (click)="bulkDeleteContact()">
        Bulk Delete
      </button>
      <button
        data-toggle="modal"
        data-target="#AddContactModal"
        class="btn btn-primary"
        #addContactBtn
      >
        Add Contact
      </button>
      <button class="btn btn-success ml-2">Export CSV</button>
    </div>

    <div class="search-wrapper">
      <div>
        <input
          placeholder="search......"
          type="text"
          class="form-control"
          [(ngModel)]="searchText"
        />
      </div>
      <div>
        <button (click)="searchData()" class="btn btn-info">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>
  </div>

  <app-list-view
    [contactData]="contactData"
    (OnSelectedContactItem)="onSelectedContactData($event)"
    (OnTickedContactItem)="onTickedContactData($event)"
  ></app-list-view>

  <router-outlet></router-outlet>
</div>

<button
  #viewContactModalBtn
  hidden
  style="cursor: pointer"
  data-toggle="modal"
  data-target="#viewContactModal"
></button>

<!-- View Modal -->
<div
  class="modal fade"
  id="viewContactModal"
  tabindex="-1"
  aria-labelledby="viewContactModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom-content">
      <button
        type="button"
        class="close close-btn"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true" class="modal-close-icon">&times;</span>
      </button>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <!-- <div class="img-viewer" [style.background-image]="'url(' + currentData?.img + ')'"></div> -->
            <!-- <img
             class="view-bg-img img-fluid"
             [id]="'img' + currentData?.id"
             src="{{ envImgUrl + currentData?.img }}"
           /> -->
          </div>

          <div class="view-modal-content">
            <div>
              <span class="view-title-label">First Name</span>
              <h5 class="view-text-value">
                {{ selectedContact?.firstName }}
              </h5>
            </div>

            <div>
              <span class="view-title-label">Last Name</span>
              <h5 class="view-text-value">
                {{ selectedContact?.lastName }}
              </h5>
            </div>
          </div>

          <div class="view-modal-content">
            <div>
              <span class="view-title-label">Email Address</span>
              <h5 class="view-text-value">
                {{ selectedContact?.email }}
              </h5>
            </div>

            <div>
              <span class="view-title-label">Phone Number</span>
              <h5 class="view-text-value">
                {{ selectedContact?.phoneNumber }}
              </h5>
            </div>
          </div>

          <div class="view-modal-content">
            <div>
              <span class="view-title-label">Contact Group</span>
              <h5 class="view-text-value">
                {{ selectedContact?.contactGroup }}
              </h5>
            </div>
          </div>

          <div class="view-modal-content">
            <div>
              <span class="view-title-label">Address</span>
              <h5 class="view-text-value">
                {{ selectedContact?.physicalAddress }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Contact Modal -->
<div
  class="modal fade"
  id="AddContactModal"
  tabindex="-1"
  aria-labelledby="AddContactModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom-content">
      <button
        type="button"
        class="close close-btn"
        data-dismiss="modal"
        aria-label="Close"
        #closeAddContactBtn
      >
        <span aria-hidden="true" class="modal-close-icon">&times;</span>
      </button>
      <div class="modal-body">
        <h5 class="text-center">
          {{ isEdit ? "Edit Contact" : "Add Contact" }}
        </h5>

        <form class="" [formGroup]="contactForm">
          <div class="row">
            <div class="col">
              <label for="firstName">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="first name"
                name="firstName"
                formControlName="firstName"
              />

              <div
                class="input-alert-box"
                *ngIf="contactFormControls.firstName.invalid && manualChecker"
              >
                <div>
                  <span class="alert-input-msg">
                    {{ getErrorMessage("firstName") }}
                  </span>
                  <span
                    class="fa fa-exclamation-triangle alert-input-icon"
                    style="float: right"
                  ></span>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="last name"
                name="lastName"
                formControlName="lastName"
              />
              <div
                class="input-alert-box"
                *ngIf="contactFormControls.lastName.invalid && manualChecker"
              >
                <div>
                  <span class="alert-input-msg">
                    {{ getErrorMessage("lastName") }}
                  </span>
                  <span
                    class="fa fa-exclamation-triangle alert-input-icon"
                    style="float: right"
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="email"
                name="email"
                formControlName="email"
              />
              <div
                class="input-alert-box"
                *ngIf="contactFormControls.email.invalid && manualChecker"
              >
                <div>
                  <span class="alert-input-msg">
                    {{ getErrorMessage("email") }}
                  </span>
                  <span
                    class="fa fa-exclamation-triangle alert-input-icon"
                    style="float: right"
                  ></span>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="phoneNumber">Phone Number</label>
              <input
                type="text"
                class="form-control"
                placeholder="phone number"
                name="phoneNumber"
                formControlName="phoneNumber"
              />
              <div
                class="input-alert-box"
                *ngIf="contactFormControls.phoneNumber.invalid && manualChecker"
              >
                <div>
                  <span class="alert-input-msg">
                    {{ getErrorMessage("phoneNumber") }}
                  </span>
                  <span
                    class="fa fa-exclamation-triangle alert-input-icon"
                    style="float: right"
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="address">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="address"
                name="physicalAddress"
                formControlName="physicalAddress"
              />
              <div
                class="input-alert-box"
                *ngIf="
                  contactFormControls.physicalAddress.invalid && manualChecker
                "
              >
                <div>
                  <span class="alert-input-msg">
                    {{ getErrorMessage("physicalAddress") }}
                  </span>
                  <span
                    class="fa fa-exclamation-triangle alert-input-icon"
                    style="float: right"
                  ></span>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="contactImage">Contact Image Url</label>
              <input
                type="text"
                class="form-control"
                placeholder="image url"
                name="contactImage"
                formControlName="contactImage"
              />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="contactGroup">Contact Group</label>

              <select
                (change)="onSelectedContactGroup($event)"
                name="contactGroup"
                id="contactGroup"
                formControlName="contactGroup"
              >
                <option value="FAMILY">Family</option>
                <option value="FRIENDS">Friends</option>
                <option value="WORK">Work</option>
                <option value="OTHER">Other</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col mt-4">
              <button
                [disabled]="isLoading"
                (click)="submitContact()"
                class="btn btn-success btn-block"
              >
                <span *ngIf="isLoading"
                  ><div
                    class="spinner-border spinner-border-sm text-light"
                  ></div
                ></span>

                <span *ngIf="!isLoading">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
